{{ define "main" }}
  <section class="bg-light pt-5">
    <div class="container px-4 py-4">
        <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between g-5 py-2">
            <div class="col-lg-6 py-5">
                <h1 class="display-3 fw-bold lh-1 mb-3 text-center text-lg-start" data-aos="fade-right" data-aos-delay="0">Easy KYC compliance for your business </h1>
                <p class="lead text-center text-lg-start" data-aos="fade-right" data-aos-delay="50">TrueKYC is the simplest compliance solution for businesses, offering seamless customer onboarding, remote identity verification and comprehensive transaction monitoring</p>
                <div class="text-center text-lg-start" data-aos="fade-right" data-aos-delay="100">
                    <a href="https://app.truekyc.io/register" class="btn btn-primary btn-lg px-4 me-md-2">Try for Free</a>
                    <p class="small text-muted mt-2">7 days Free Trial - No credit card required</p>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-left" data-aos-delay="200">
                <div class="d-block d-xs-block d-sm-block d-md-block d-lg-none mb-4">
                    <img src="/images/banner.webp" class="img-fluid" alt="Bootstrap Themes">
                </div>
                <div class="d-none d-xs-none d-sm-none d-md-none d-lg-block">
                    <img src="/images/banner.webp" style="width: 900px;" alt="Bootstrap Themes">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- HERO 2 -->
 
<section id="product" class="py-5">
    <div class="container px-4 py-2">
        <div class="row justify-content-between align-items-center g-5 py-2 py-lg-5">
            <div class="col-lg-5 order-1 order-lg-0" data-aos="fade-up">
                <h1 class="display-5 fw-bold lh-1 mb-3">Empower your compliance with advanced features</h1>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button ps-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#customerverification" aria-expanded="false" aria-controls="customerverification">
                                <h5>
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    Customer Verification
                                </h5>
                            </button>
                        </h2>
                        <div id="customerverification" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fs-6 lead">Know your customers and verify them with ease. TrueKYC simplifies user onboarding, making the process quick and compliant without compromising security
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button ps-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#businessverification" aria-expanded="false" aria-controls="businessverification">
                                <h5>
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    Business Verification
                                </h5>
                            </button>
                        </h2>
                        <div id="businessverification" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fs-6 lead">Know your business partners and verify them with ease. TrueKYC ensures fast and compliant business verification for smooth transactions.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button ps-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <h5>
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    Transaction Monitoring
                                </h5>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fs-6 lead">Effortlessly record and monitor transactions on TrueKYC. Our platform ensures compliance with travel rules while providing real-time insights and alerts to mitigate risks effectively.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button ps-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                <h5>
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    Remote Verification
                                </h5>
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fs-6 lead">Onboard customers effortlessly with QR links. TrueKYC enables remote verification, allowing users to verify identities quickly and securely from anywhere.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 order-0 order-lg-1" data-aos="fade-up">
                <div>
                    <img class="img-fluid rounded-5" src="/images/verification.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- HERO 3 -->
<div class="container px-4 py-2 py-lg-5">
    <div class="row justify-content-between align-items-center g-5 py-2 py-lg-5">
        <div class="col-lg-5 order-1 order-lg-1" data-aos="fade-up">
            <h1 class="display-5 fw-bold lh-1 mb-3">Verify identities efficiently</h1>
            <p class="lead">Simple, efficient, and tailored to meet regulatory standards. Our platform ensures seamless verification for individuals and businesses alike.</p>
            <div class="d-flex align-items-center gap-2 mb-1">
                <i class="bi bi-check-circle fs-6 text-primary"></i>
                <p class="lead fs-6 m-0">
                    Easy Onboarding
                </p>
            </div>
            <div class="d-flex align-items-center gap-2 mb-1">
                <i class="bi bi-check-circle fs-6 text-primary"></i>
                <p class="lead fs-6 m-0">
                    Customizable Verification Levels
                </p>
            </div>
            <div class="d-flex align-items-center gap-2 mb-1">
                <i class="bi bi-check-circle fs-6 text-primary"></i>
                <p class="lead fs-6 m-0">
                    Remote Verification Links
                </p>
            </div>
            <div class="d-flex align-items-center gap-2 mb-1">
                <i class="bi bi-check-circle fs-6 text-primary"></i>
                <p class="lead fs-6 m-0">
                    KYC & KYB Verification
                </p>
            </div>
        </div>
        <div class="col-lg-7 order-0 order-lg-0" data-aos="fade-up">
            <div>
                <img class="img-fluid rounded-5" src="/images/kyc.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500">
            </div>
        </div>
    </div>
</div>

<!-- HERO 4 -->
<div class="container px-4 py-2 py-lg-5">
    <div class="row justify-content-between align-items-center g-5 py-2 py-lg-5">
        <div class="col-lg-5 order-1 order-lg-0" data-aos="fade-up">
            <h1 class="display-5 fw-bold lh-1 mb-3">Monitor customer transactions easily</h1>
            <p class="lead">Simplify the process of recording and monitoring customer transactions, ensuring compliance and secure access to transaction data in real time
            </p>
        </div>
        <div class="col-lg-7 order-0 order-lg-1" data-aos="fade-up">
            <div>
                <img class="img-fluid rounded-5" src="/images/transaction.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500">
            </div>
        </div>
    </div>
</div>

<!-- HERO 5 -->
<div class="container px-4 py-2 py-lg-5">
    <div class="row justify-content-between align-items-center g-5 py-2 py-lg-5">
        <div class="col-lg-5 order-1 order-lg-1" data-aos="fade-up">
            <h1 class="display-5 fw-bold lh-1 mb-3">Onboard your customers remotely</h1>
            <p class="lead">Onboard customers with remote verification links, allowing customres to verify identities quickly and securely from anywhere</p>
        </div>
        <div class="col-lg-7 order-0 order-lg-0" data-aos="fade-up">
            <div>
                <img class="img-fluid rounded-5" src="/images/link.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500">
            </div>
        </div>
    </div>
</div>

<!-- PRICING -->
<section id="pricing" class="bg-dark py-5">
    <div class="container py-5">
        <div class="text-center" data-aos="fade-up">
            <h6 class="text-primary fw-bold lh-1 mb-3">Pricing</h6>
            <h1 class="text-white fw-bold lh-1 mb-3">Choose a plan that suits your business</h1>
            <p class="lead text-white-50">Whether you're a small business or a large enterprise, TrueKYC offers a range of pricing plans to suit your needs                    </p>
        </div>
        <div class="row py-5">
            <div class="col-12 col-lg-4 mb-3">
                <div class="card rounded-4 h-100 border-0" data-aos="fade-up" data-aos-delay="0">
                    <div class="card-body p-4 rounded-3 border-0">
                        <h4 class="fw-bold lh-1">Basic</h4>
                        <p class="lead fs-6 my-3">Ideal for small businesses and individuals aiming to prevent fraud.</p>
                        <div class="my-3">
                            <div>
                                <span class="display-5 fw-bold lh-1 mb-3 text-dark">$89</span>
                                <span class="small text-muted">/per month</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <i class="bi bi-check-circle fs-6 text-primary"></i>
                            <p class="lead fs-6 m-0">
                                100 KYC Verifications
                            </p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <i class="bi bi-check-circle fs-6 text-primary"></i>
                            <p class="lead fs-6 m-0">
                                20 KYB Verifications
                            </p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <i class="bi bi-check-circle fs-6 text-primary"></i>
                            <p class="lead fs-6 m-0">
                                500 Transactions
                            </p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <i class="bi bi-check-circle fs-6 text-primary"></i>
                            <p class="lead fs-6 m-0">
                                Up to 3 team members
                            </p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <i class="bi bi-check-circle fs-6 text-primary"></i>
                            <p class="lead fs-6 m-0">
                                SMS / Email Verification
                            </p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <i class="bi bi-check-circle fs-6 text-primary"></i>
                            <p class="lead fs-6 m-0">
                                Remote Verification Links
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-3">
                <div class="card rounded-4 h-100 mb-3 border-0" style="box-shadow: 0px 0px 0px 0px white inset, 0px 0px 0px 4px #0D6EFD inset;" data-aos="fade-up" data-aos-delay="100">
                    <div class="card-body p-4 rounded-3">
                        <span class="badge fs-6 fw-normal text-bg-primary float-end">Best Deal</span>
                        <h4 class="fw-bold lh-1">Plus</h4>
                        <p class="lead fs-6 my-3">Ideal for regulated businesses performing verification on a smaller scale.</p>
                        <div class="my-3">
                            <div>
                                <span class="display-5 fw-bold lh-1 mb-3 text-dark">$159</span>
                                <span class="small text-muted">/per month</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <i class="bi bi-check-circle fs-6 text-primary"></i>
                            <p class="lead fs-6 m-0">
                                250 KYC Verifications
                            </p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <i class="bi bi-check-circle fs-6 text-primary"></i>
                            <p class="lead fs-6 m-0">
                                50 KYB Verifications
                            </p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <i class="bi bi-check-circle fs-6 text-primary"></i>
                            <p class="lead fs-6 m-0">
                                1500 Transactions
                            </p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <i class="bi bi-check-circle fs-6 text-primary"></i>
                            <p class="lead fs-6 m-0">
                                Up to 5 team members
                            </p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <i class="bi bi-check-circle fs-6 text-primary"></i>
                            <p class="lead fs-6 m-0">
                                SMS / Email Verification
                            </p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <i class="bi bi-check-circle fs-6 text-primary"></i>
                            <p class="lead fs-6 m-0">
                                Remote Verification Links
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-3">
                <div class="card rounded-4 h-100 border-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="card-body p-4 rounded-3 border-0">
                        <h4 class="fw-bold lh-1">Pro</h4>
                        <p class="lead fs-6 my-3">Ideal for large-scale businesses conducting verification at a higher volume.</p>
                        <div class="my-3">
                            <div>
                                <span class="display-5 fw-bold lh-1 mb-3 text-dark">$299</span>
                                <span class="small text-muted">/per month</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <i class="bi bi-check-circle fs-6 text-primary"></i>
                            <p class="lead fs-6 m-0">
                                500 KYC Verifications
                            </p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <i class="bi bi-check-circle fs-6 text-primary"></i>
                            <p class="lead fs-6 m-0">
                                100 KYB Verifications
                            </p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <i class="bi bi-check-circle fs-6 text-primary"></i>
                            <p class="lead fs-6 m-0">
                                5000 Transactions
                            </p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <i class="bi bi-check-circle fs-6 text-primary"></i>
                            <p class="lead fs-6 m-0">
                                Up to 10 team members
                            </p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <i class="bi bi-check-circle fs-6 text-primary"></i>
                            <p class="lead fs-6 m-0">
                                SMS / Email Verification
                            </p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <i class="bi bi-check-circle fs-6 text-primary"></i>
                            <p class="lead fs-6 m-0">
                                Remote Verification Links
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-2 justify-content-center">
            <div class="col-lg-6 text-center" data-aos="fade-up">
                <h3 class="text-white fw-bold lh-1 mb-3">Access now</h3>
                <p class="lead fs-6 text-white-50">You can try TrueKYC for 7 days with our Free Trial. No credit card needed.</p>
                <a href="https://app.truekyc.io/register" class="btn btn-primary w-100 my-3 text-white">Try for free</a>
            </div>
        </div>
    </div>
</section>


<!-- USE CASES -->
<section id="cases" class="bg-light py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-9 mb-5">
                <div class="text-center" data-aos="fade-up">
                    <h6 class="text-primary fw-bold lh-1 mb-3">TrueKYC in Action</h6>
                    <h1 class="fw-bold lh-1 mb-3">Use Cases</h1>
                    <p class="lead">
                        TrueKYC is designed to meet the compliance needs of businesses across various industries. Our platform offers a range of features tailored to meet the specific needs of each industry
                    </p>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-12 col-lg-6 pb-3">
                        <div class="card rounded-4 h-100 border-0" data-aos="fade-up">
                            <div class="card-body p-4 rounded-3 border-0">
                            <div class="col d-flex align-items-start">
                                <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                <i class="bi bi-shop fs-4 p-3 text-bg-primary rounded-3"></i>
                                </div>
                                <div>
                                <h5 class="mb-2">Retail</h5>
                                <p class="lead fs-6 mb-0">Minimizes fraud and ensures KYC compliance for luxury retailers, fostering a secure shopping experience and building customer trust.</p>
                                </div>
                            </div>  
                            </div>  
                        </div>
                        </div>
                        <div class="col-12 col-lg-6 pb-3">
                        <div class="card rounded-4 h-100 border-0" data-aos="fade-up">
                            <div class="card-body p-4 rounded-3 border-0">
                            <div class="col d-flex align-items-start">
                                <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                <i class="bi bi-bank2 fs-4 p-3 text-bg-primary rounded-3"></i>
                                </div>
                                <div>
                                <h5 class="mb-2">Financial Services</h5>
                                <p class="lead fs-6 mb-0">Helps banks and fintechs verify customers and monitor transactions easily and securely, enhancing trust and security in financial services.</p>
                                </div>
                            </div>  
                            </div>  
                        </div>
                        </div>
                        <div class="col-12 col-lg-6 pb-3">
                        <div class="card rounded-4 h-100 border-0" data-aos="fade-up">
                            <div class="card-body p-4 rounded-3 border-0">
                            <div class="col d-flex align-items-start">
                                <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                <i class="bi bi-currency-bitcoin fs-4 p-3 text-bg-primary rounded-3"></i>
                                </div>
                                <div>
                                <h5 class="mb-2">Cryptocurrency</h5>
                                <p class="lead fs-6 mb-0">Offers compliance solutions for cryptocurrency exchanges, ATMs, and businesses accepting crypto payments, enhancing security and trust in the market.</p>
                                </div>
                            </div>  
                            </div>  
                        </div>
                        </div>
                        <div class="col-12 col-lg-6 pb-3">
                        <div class="card rounded-4 h-100 border-0" data-aos="fade-up">
                            <div class="card-body p-4 rounded-3 border-0">
                            <div class="col d-flex align-items-start">
                                <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                <i class="bi bi-arrow-left-right fs-4 p-3 text-bg-primary rounded-3"></i>
                                </div>
                                <div>
                                <h5 class="mb-2">International Money Transfers</h5>
                                <p class="lead fs-6 mb-0">Provides KYC, KYB, and transaction monitoring solutions for money transfer companies, ensuring compliance and security in cross-border transactions.</p>
                                </div>
                            </div>  
                            </div>  
                        </div>
                        </div>
                        <div class="col-12 col-lg-6 pb-3">
                        <div class="card rounded-4 h-100 border-0" data-aos="fade-up">
                            <div class="card-body p-4 rounded-3 border-0">
                            <div class="col d-flex align-items-start">
                                <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                <i class="bi bi-house fs-4 p-3 text-bg-primary rounded-3"></i>
                                </div>
                                <div>
                                <h5 class="mb-2">Accommodation</h5>
                                <p class="lead fs-6 mb-0">Offers compliance and transaction monitoring solutions for hotels and short-term rentals, ensuring security and building trust in the hospitality industry.</p>
                                </div>
                            </div>  
                            </div>  
                        </div>
                        </div>
                        <div class="col-12 col-lg-6 pb-3">
                        <div class="card rounded-4 h-100 border-0" data-aos="fade-up">
                            <div class="card-body p-4 rounded-3 border-0">
                            <div class="col d-flex align-items-start">
                                <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                <i class="bi bi-briefcase fs-4 p-3 text-bg-primary rounded-3"></i>
                                </div>
                                <div>
                                <h5 class="mb-2">Legal Services</h5>
                                <p class="lead fs-6 mb-0">Delivers KYC, KYB, and transaction monitoring solutions for law firms, notaries, and accountants, ensuring compliance and fostering trust in professional services.</p>
                                </div>
                            </div>  
                            </div>  
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
        
<!-- FAQ -->
<section id="faq" class="py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-9 mb-5" data-aos="fade-up">
                <div class="text-center">
                    <h6 class="text-primary fw-bold lh-1 mb-3">FAQ</h6>
                    <h1 class="fw-bold lh-1 mb-3">Frequently Asked Questions</h1>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="accordion accordion-flush" id="accordionFlushExample" data-aos="fade-up">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="faq1">
                                <h5>
                                    What is TrueKYC?
                                </h5>
                            </button>
                        </h2>
                        <div id="faq1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fs-6 lead">
                                TrueKYC is a comprehensive web-based SaaS solution designed to simplify the KYC (Know Your Customer) and KYB (Know Your Business) verification and onboarding process for businesses of all sizes. Our platform offers automated verification, customizable verification levels, remote verification through QR links, transaction monitoring, and detailed statistics and reporting to ensure compliance and enhance customer onboarding experiences.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
                                <h5>
                                    What makes TrueKYC different from other KYC verification services?
                                </h5>
                            </button>
                        </h2>
                        <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fs-6 lead">
                                TrueKYC sets itself apart through its comprehensive suite of features tailored to modern compliance needs. Unlike other services, TrueKYC offers customizable verification levels, long-distance verification capabilities, detailed transaction monitoring, and a versatile user management system accommodating multiple user types with different permissions. Our focus on flexibility, security, and ease of use ensures that businesses can meet regulatory requirements efficiently while providing a seamless onboarding experience for their customers.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq6" aria-expanded="false" aria-controls="faq6">
                                <h5>
                                    Can TrueKYC help small businesses?
                                </h5>
                            </button>
                        </h2>
                        <div id="faq6" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fs-6 lead">
                                Yes, TrueKYC is ideal for small businesses, particularly those that operate in regulated industries or handle financial transactions. It provides a simple, affordable solution to ensure compliance with KYC and KYB regulations, making it easier for small businesses to onboard customers, verify business partners, and monitor transactions without the need for complex or expensive software.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                                <h5>
                                    Can TrueKYC handle verifications for international customers?
                                </h5>
                            </button>
                        </h2>
                        <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fs-6 lead">
                                Yes, TrueKYC is equipped to handle KYC and KYB verifications for customers across the globe. Our remote verification feature, enabled through secure QR links, allows businesses to perform long-distance verifications effortlessly, thus expanding their customer base without compromising security or compliance standards.
                            </div>
                        </div>
                    </div>
                    <!-- New Questions -->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false" aria-controls="faq5">
                                <h5>
                                    What industries benefit the most from TrueKYC?
                                </h5>
                            </button>
                        </h2>
                        <div id="faq5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fs-6 lead">
                                Industries that benefit most from TrueKYC include finance, cryptocurrency exchanges, legal services (notaries, law firms, accountants), real estate, luxury retail, money transfer agencies, and foreign exchanges. Any business that needs to verify customers or business partners and monitor transactions for compliance purposes can benefit from TrueKYC’s streamlined solutions.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq10" aria-expanded="false" aria-controls="faq10">
                                <h5>
                                    What is Remote Verification?
                                </h5>
                            </button>
                        </h2>
                        <div id="faq10" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fs-6 lead">
                                Remote Verification enables businesses to verify customers and businesses from any location. TrueKYC uses dynamic, time-limited QR codes to allow individuals and legal entities to complete KYC and KYB forms remotely. This feature is ideal for businesses that need a secure, compliant way to verify users without requiring physical presence.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq12" aria-expanded="false" aria-controls="faq12">
                                <h5>
                                    How does TrueKYC handle data security?
                                </h5>
                            </button>
                        </h2>
                        <div id="faq12" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fs-6 lead">
                                TrueKYC takes data security seriously. The platform uses industry-leading encryption and security measures to protect sensitive customer and business data. All verification processes and transactions are handled securely, ensuring compliance with data privacy regulations like GDPR and ensuring that your business is protected from data breaches and fraud.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <!-- RECENT POSTS SECTION -->
  <section id="recent-posts">
    <div class="container">
        <div class="text-center pt-3" data-aos="fade-up">
            <h6 class="text-primary fw-bold lh-1 mb-3">Blog</h6>
            <h1 class="fw-bold lh-1 mb-3">Latest Updates</h1>
        </div>

        <div class="row">
          {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "posts") }}
          <div class="col-md-4 mb-4">
              <div class="card h-100 border-0 p-4" data-aos="fade-up" data-aos-delay="100">
                    {{ with .Resources.GetMatch "cover*" }} <!-- Look for featured image in the bundle -->
                      <a href="{{ $.Permalink }}"> <!-- Use $.Permalink to link to the post -->
                          <img src="{{ .Permalink }}" class="card-img-top rounded-1 img-fluid" alt="{{ $.Title }}" style="height:160px; object-fit:cover; object-position: center;">
                      </a>
                    {{ end }}
                    <div class="py-3">
                      <span class="badge text-bg-primary mb-2">
                        {{ .Date | time.Format ":date_medium" }}
                      </span>
                        <h4 class="card-title">
                          <a class="text-decoration-none text-dark stretched-link" href="{{ .Permalink }}">
                            {{ .Title }}
                          </a>
                        </h4>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<script type="application/ld+json">
    [
        {
            "@context": "http://schema.org",
            "@type": "WebApplication",
            "name": "TrueKYC",
            "image": "https://truekyc.io/share.png",
            "url": "https://truekyc.io/",
            "publisher": {
                "@type": "Organization",
                "name": "Truezone"
            },
            "applicationCategory": "BusinessApplication",
            "browserRequirements":["requires HTML5 support","requires JavaScript"],
            "offers":{
                "@type":"AggregateOffer",
                "highPrice":"299.00",
                "lowPrice":"89.00",
                "offerCount":"3",
                "priceCurrency":"USD"
            }
        }
    ]
</script>
{{ end }}